# dependencies
node_modules

# builds
.next
out
dist
*.tsbuildinfo

# env files (keep the templates)
.env*
!.env.example

# logs
*.log
npm-debug.log*

# editors / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# vercel
.vercel
