.slick-list,
.slick-slider,
.slick-track {
  position: relative;
  display: block;
}

.slick-track li {
  list-style: none;
  background-color: transparent;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-arrow.slick-disabled {
  opacity: 0.5;
}

.slick-slide>div {
  padding-right: 12px;
}

.slick-steps {
  position: absolute;
  right: 5rem;
}

.slick-dots li button:before {
  color: white !important;
}

@media (max-width: 768px) {
  .slick-list {
    overflow: visible !important;
  }
}

.slick-dots {
  bottom: -40px !important;
}